<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sgresan</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping resource="model/TPerfil.hbm.xml"/>
    <mapping resource="model/TReserva.hbm.xml"/>
    <mapping resource="model/TUbigeo.hbm.xml"/>
    <mapping resource="model/TUsuario.hbm.xml"/>
    <mapping resource="model/TPersona.hbm.xml"/>
    <mapping resource="model/TCliente.hbm.xml"/>
    <mapping resource="model/THabitaciondetalle.hbm.xml"/>
    <mapping resource="model/THotel.hbm.xml"/>
    <mapping resource="model/TTipohabitacion.hbm.xml"/>
    <mapping resource="model/TRecepcionista.hbm.xml"/>
    <mapping resource="model/TReservadetalle.hbm.xml"/>
    <mapping resource="model/THabitacion.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
